@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue-Regular.ttf') format('truetype'),
    url('/fonts/BebasNeue-Regular.woff') format('woff'),
    url('/fonts/BebasNeue-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.hover-info {
  pointer-events: none;
  z-index: 10;
}

img:hover ~ .hover-info {
  opacity: 100;
}
